@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    --gradient: linear-gradient(
        160deg,
        hsl(190, 60%, 58%) 0%,
        hsl(220, 65%, 55%) 45%,
        hsl(265, 55%, 54%) 100%
    );
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 20s infinite;
}

@keyframes bg-animation {
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}



section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(8px);
    transform: translateX(-100%);
    transition: all 2.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}